aclocal.m4
compile
configure
config.guess
config.h
config.h.in
config.log
config.status
config.sub
depcomp
install-sh
libtool
ltmain.sh
py-compile
Makefile
Makefile.in
missing
stamp-h1

*.o
*.a
*.la
*.lo
*~
*#_*#

.deps/
.libs/
autom4te.cache/

/pin/obj-*
!/pin/Makefile.in

/test/create0
/test/create1

/tools/usf2trace
/tools/usf2usf
/tools/usfcat
/tools/usfdiff
/tools/usfdump
/tools/usfgentrace
/tools/usfresampler
/tools/usfsort
/tools/usfsplit
/tools/usfstats

/swig/*.pyc